* {
  margin: 0;
  padding: 0;
 }

body {
  color: #2f80ed;
  font-family: Avenir, Helvetica, Arial, sans-serif;

}

header{
  width: 520px;
  height: 190px;
  margin: auto;
  margin-top: 110px;
}

main{
  
  text-align: center;
  width: 420px;
  margin: 10px auto 0px auto;
  position: relative;
}

.text{
  position: absolute;
  /* Описываем переход */
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
  /* Прячем элемент */
  opacity: 0;
  visibility: hidden;
}

h1{
  font-size: 122px;
  font-weight: 100;
  margin-bottom: 22px;
}

h1:hover+ .text{
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

footer{
  text-align: center;
  width: 420px;
  margin: 280px auto 30px auto;
}

a{
  color: #2f80ed;
}

p{
  font-size: 16.5px;
}
